# absl-py==1.4.0
# alembic==1.13.1
# annotated-types==0.6.0
# asgiref==3.7.2
# asttokens==2.2.1
# astunparse==1.6.3
# backcall==0.2.0
# backoff==1.11.1
# blinker==1.7.0
# blis==0.7.11
# branca==0.5.0
# cachetools==5.3.0
# catalogue==2.0.10
# certifi==2021.10.8
# cffi==1.15.0
# charset-normalizer==2.0.12
# click==8.1.3
# cloudpathlib==0.16.0
# colorama==0.4.6
# comm==0.1.2
# confection==0.1.4
# cryptography==36.0.2
# cvzone==1.6.1
# cycler==0.11.0
# cymem==2.0.8
# debugpy==1.6.6
# decorator==5.1.1
# distlib==0.3.4
# Django==4.2.2
# django-crispy-forms==1.12.0
# django-jazzmin==2.6.0
# django-shortuuidfield==0.1.3
# dlib==19.24.2
# entrypoints==0.4
# et-xmlfile==1.1.0
# executing==1.2.0
# face-recognition==1.3.0
# face-recognition-models==0.3.0
fastai
# fastcore==1.5.29
# fastdownload==0.0.7
# fastprogress==1.0.3
# filelock==3.6.0
scipy

Flask
# Flask-Migrate==4.0.5
# Flask-MySQLdb==2.0.0
# Flask-SQLAlchemy==3.1.1
# flatbuffers==23.1.21
# folium==0.12.1.post1
# fonttools==4.33.3
# fsspec==2024.2.0
# gast==0.4.0
# google-auth==2.16.0
# google-auth-oauthlib==0.4.6
# google-pasta==0.2.0
# greenlet==3.0.2
# grpcio==1.51.1
# h5py==3.8.0
# idna==3.3
# ipykernel==6.20.2
# ipython==8.8.0
# itsdangerous==2.1.2
# jedi==0.18.2
# Jinja2==3.1.2
# joblib==1.1.0
# jupyter_client==7.4.9
# jupyter_core==5.1.4
# keras==2.11.0
# kiwisolver==1.4.2
# langcodes==3.3.0
# libclang==15.0.6.1
# Mako==1.3.0
# Markdown==3.4.1
# MarkupSafe==2.1.1
# matplotlib==3.5.2
# matplotlib-inline==0.1.6
# mod-wsgi==4.9.4
# mpmath==1.3.0
# murmurhash==1.0.10
# mysqlclient==2.2.0
# nest-asyncio==1.5.6
# networkx==3.2.1
numpy==1.22.3
# oauthlib==3.2.2
# opencage==2.0.0
# opencv-python==4.7.0.68
# openpyxl==3.1.2
# opt-einsum==3.3.0
# packaging==21.3
pandas
# parso==0.8.3
# phonenumbers==8.12.46
# pickleshare==0.7.5
# Pillow==9.1.0
# platformdirs==2.5.1
# preshed==3.0.9
# prompt-toolkit==3.0.36
# protobuf==3.19.6
# psutil==5.9.4
# pure-eval==0.2.2
# pyasn1==0.4.8
# pyasn1-modules==0.2.8
# pycparser==2.21
# pydantic==2.6.3
# pydantic_core==2.16.3
# pygame==2.1.2
# Pygments==2.14.0
# pyOpenSSL==22.0.0
# pyparsing==3.0.9
# python-dateutil==2.8.2
# pytz==2022.1
# pywin32==305
# PyYAML==6.0.1
# pyzmq==25.0.0
# requests==2.27.1
# requests-oauthlib==1.3.1
# rsa==4.9
# scikit-learn==1.1.1
# scipy==1.8.1
# seaborn==0.11.2
# shortuuid==1.0.11
# six==1.16.0
# sklearn==0.0
# smart-open==6.4.0
# spacy==3.7.4
# spacy-legacy==3.0.12
# spacy-loggers==1.0.5
# SQLAlchemy==2.0.23
# sqlparse==0.4.4
# srsly==2.4.8
# stack-data==0.6.2
# sympy==1.12
# tensorboard==2.11.2
# tensorboard-data-server==0.6.1
# tensorboard-plugin-wit==1.8.1
# tensorflow==2.11.0
# tensorflow-estimator==2.11.0
# tensorflow-intel==2.11.0
# tensorflow-io-gcs-filesystem==0.30.0
# termcolor==2.2.0
# thinc==8.2.3
# threadpoolctl==3.1.0
torch
# torchvision==0.17.1
# tornado==6.2
# tqdm==4.66.2
# traitlets==5.8.1
# typer==0.9.0
# typing_extensions==4.10.0
# tzdata==2023.3
# urllib3==1.26.9
# virtualenv==20.13.3
# wasabi==1.1.2
# wcwidth==0.2.6
# weasel==0.3.4
# Werkzeug==3.0.1
# wrapt==1.14.1


