

# fastai==2.7.18

# flask==3.0.3

# gunicorn==23.0.0

# scipy
# numpy==1.26.4

# pandas==1.5.3

# scikit-learn
# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
# created-by: conda 24.9.2
annotated-types
blinker
blis
bzip2
ca-certificates
catalogue
certifi
charset-normalizer
click
cloudpathlib
colorama
confection
contourpy
cycler
cymem
fastai==2.7.18
fastcore
fastdownload
fastprogress
filelock
flask==3.0.3
fonttools
fsspec
gunicorn
idna
itsdangerous
jinja2
joblib
kiwisolver
langcodes
language-data
libffi
marisa-trie
markdown-it-py
markupsafe
matplotlib
mdurl
mpmath
murmurhash
networkx
numpy==1.26.4
openssl
packaging
pandas==1.5.3
pillow
pip
preshed
pydantic
pydantic-core
pygments
pyparsing

python-dateutil
pytz
pyyaml
requests
rich
scikit-learn
scipy
setuptools
shellingham
six
smart-open
spacy
spacy-legacy
spacy-loggers
sqlite
srsly
sympy
thinc
threadpoolctl
tk
torch
torchvision
tqdm
typer
typing-extensions
tzdata
urllib3
vc
vs2015_runtime
wasabi
weasel
werkzeug
wheel
wrapt
xz
zlib
