# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
# created-by: conda 24.9.2

fastai==2.7.18

flask==3.0.3

gunicorn==23.0.0

scipy
numpy==1.26.4

pandas==1.5.3

